<Game>
	<Layers>
		<!--If a GameObject doesn't have a layer specified it will default to zero-->
		<Layer Name="Default" value="0"/>
		<Layer Name="MainLayer" value="1"/>
	</Layers>
	<Scenes>
		<Scene Active="1" Name="MainScene">
			<Cameras>
				<Camera Tag="MainCamera" IsOrtho="1" IsMain="1" LayerMask="Default">
					<Position x="0" y="0" z="0"/>
					<Viewport x="0" y="0" Width="320" Height="480"/>
					<OrthographicProjection Left="0" Right="320" Bottom="0" Top="480" Near="-500" Far="500"/>
				</Camera>
			</Cameras>
			
			<GameObjects>
                <!--<SimpleParticleSystem Tag="ParticleSystem01" Active="1" IsTransparent="1" PoolSize="500">
                    <MinSize x="16" y="16"/>
                    <MaxSize x="64" y="64"/>
                    <Position x="0" y="0" z="0"/>
					<DebugText Tag="DebugText"/>
                    <Scale x="1" y="1" z="1"/>
                    <Material DisableZWrite="1" DisableZTest="0">
                        <Textures>
                            <Texture DelayLoad="0" ImageName="Smoke01.png"/>
                        </Textures>
                        <Blend Enabled="1" FuncA="SRC_ALPHA" FuncB="ONE_MINUS_SRC_ALPHA"/>
                        <Diffuse r="1" g="1" b="1" a="1"/>
                        <Emissive r="1" g="1" b="1" a="1"/>
                        <Ambient r="1" g="1" b="1" a="1"/>
                        <Specular r="1" g="1" b="1" a="1"/>
                    </Material>
                </SimpleParticleSystem>-->
				<!--<RenderPlane Tag="ChimeHolder" Active="1" IsTransparent="1" ImageName="chime_post.png">
				  <Position x="0" y="0" z="20"/>
				  <Scale x="311" y="176" z="1"/>
				  <UVs>
					<UV x="0.0000" y ="1.0000"/>
					<UV x="0.6074" y ="1.0000"/>
					<UV x="0.0000" y ="0.3125"/>
					<UV x="0.6074" y ="0.3125"/>
				  </UVs>
				  <Material DisableZWrite="1" DisableZTest="0">
				    <Textures>
						<Texture DelayLoad="0" ImageName="chime_post.png"/>
					</Textures>
					<Blend Enabled="1" FuncA="SRC_ALPHA" FuncB="ONE_MINUS_SRC_ALPHA"/>
					<Diffuse r="1" g="1" b="1" a="1"/>
					<Emissive r="1" g="1" b="1" a="1"/>
					<Ambient r="1" g="1" b="1" a="1"/>
					<Specular r="1" g="1" b="1" a="1"/>
				  </Material>
				</RenderPlane>
				
				<RenderPlane Tag="HangStateStart" DelayTextureLoad="0" Active="1" IsTransparent="1" ImageName="hang_pose_v1_00001_po2.png">
				  <Position x="0" y="0" z="2"/>
				  <Scale x="320" y="480" z="1"/>-->
				  <!--These UVs are ordered differently from unit plane because they were generated by CreateGridMesh-->
				  <!--<UVs>
					<UV x="0.0000" y ="1.0000"/>
					<UV x="0.6250" y ="1.0000"/>
					<UV x="0.0000" y ="0.0625"/>
					<UV x="0.6250" y ="0.0625"/>
				  </UVs>
				  <Material DisableZWrite="1" DisableZTest="0">
					<Blend Enabled="1" FuncA="SRC_ALPHA" FuncB="ONE_MINUS_SRC_ALPHA"/>
					<Diffuse r="1" g="1" b="1" a="1"/>
					<Emissive r="1" g="1" b="1" a="1"/>
					<Ambient r="1" g="1" b="1" a="1"/>
					<Specular r="1" g="1" b="1" a="1"/>
				  </Material>
				</RenderPlane>-->
				<Cube Tag="Cube01" Active="1" IsTransparent="1">
				  <Position x="260" y="220" z="10"/>
				  <Scale x="1" y="1" z="1"/>
				  
				  <Physics>
					<Collider type="BOX" isTrigger="1">
						<Extents x="50" y="50" z="50"/>
					</Collider>
					<!--
					<Collider type="SPHERE">
						<Radius value="10.0"/>
					</Collider>
					-->
					<RigidBody mass="0.0"/>
				  </Physics>
				  
				  <Material DisableZWrite="1" DisableZTest="0">
					<Textures>
						<Texture DelayLoad="0" ImageName="sign_plaque.png"/>
				    </Textures>
				  </Material>
				</Cube>
				<Cube Tag="Cube02" Active="1" IsTransparent="1">
				  <Position x="260" y="260" z="10"/>
				  <Scale x="1" y="1" z="1"/>
				  
				  <Physics>
					<Collider type="BOX" isTrigger="0">
						<Extents x="50" y="50" z="50"/>
					</Collider>
					<!--
					<Collider type="SPHERE">
						<Radius value="10.0"/>
					</Collider>
					-->
					<RigidBody mass="1.0"/>
				  </Physics>
				  
				  <Material DisableZWrite="1" DisableZTest="0">
					<Textures>
						<Texture DelayLoad="0" ImageName="sign_plaque.png"/>
				    </Textures>
				  </Material>
				</Cube>
				<Cube Tag="Cube03" Active="1" IsTransparent="1">
				  <Position x="200" y="490" z="10"/>
				  <Scale x="1" y="1" z="1"/>
				  
				  <Physics>
					<Collider type="BOX" isTrigger="0">
						<Extents x="50" y="50" z="50"/>
					</Collider>
					<!--
					<Collider type="SPHERE">
						<Radius value="10.0"/>
					</Collider>
					-->
					<RigidBody mass="1.0"/>
				  </Physics>
				  
				  <Material DisableZWrite="1" DisableZTest="0">
					<Textures>
						<Texture DelayLoad="0" ImageName="sign_plaque.png"/>
				    </Textures>
				  </Material>
				</Cube>
				<SceneObject Tag="Floor" Active="1">
				  <Position x="0" y="0" z="10"/>
				  <Scale x="1" y="1" z="1"/>
				  
				  <Physics>
					<Collider type="BOX">
						<Extents x="320" y="10" z="320"/>
					</Collider>
					<!--
					<Collider type="SPHERE">
						<Radius value="10.0"/>
					</Collider>
					-->
					<RigidBody mass="0.0"/>
				  </Physics>
				</SceneObject>
				
				<DebugText Tag="DebugText" Hidden="0" Active="1" IsTransparent="1" Font="arial12" width="320">
                    <Position x="90" y="16" z="5"/>
                </DebugText>
                <RendererFPSDisplay Hidden="0" Active="1" IsTransparent="1" Font="arial12" width="320" UpdateInterval="1000">
                  <Position x="0" y="16" z="5"/>
                </RendererFPSDisplay>
                <!--<MetaballGrid  Layer="MainLayer" RenderUsingIsoSurface="0" Hidden="0" Active="1" IsTransparent="1" Tag="DropletDisplay" nx="48" ny="72" width="1" height="1">
                    <Position x="0" y="0" z="4"/>
                    <Scale x="320" y="480" z="1"/>
					<Color r="1" g="1" b="1" a="0.5"/> 
                    <Material DisableZWrite="1" DisableZTest="0">
					  <Textures>
						<Texture UseRenderTarget="RefractionTarget"/>
						<Texture DelayLoad="0" ImageName="Reflection.png"/>
					  </Textures>
					  <TextureMatrices>
						  <TextureMatrix>
							<Scale x="0.6250" y ="0.9375" z="1"/>
						  </TextureMatrix>
					  </TextureMatrices>
					  <TextureCombiners>
							<TextureBinding>
								<TextureEnv Op1="TEXTURE_ENV_MODE" Op2="REPLACE"/>
							</TextureBinding>
							<TextureBinding>
								<TextureEnv Op1="TEXTURE_ENV_MODE" Op2="COMBINE"/>								
								
								<TextureEnv Op1="COMBINE_RGB" Op2="ADD"/>
								<TextureEnv Op1="SRC0_RGB" Op2="PREVIOUS"/>
								<TextureEnv Op1="SRC1_RGB" Op2="TEXTURE"/>
								<TextureEnv Op1="OPERAND0_RGB" Op2="SRC_COLOR"/>
								<TextureEnv Op1="OPERAND1_RGB" Op2="SRC_COLOR"/>
								
								
								<TextureEnv Op1="COMBINE_ALPHA" Op2="ADD"/>
								<TextureEnv Op1="SRC0_ALPHA" Op2="PREVIOUS"/>
								<TextureEnv Op1="SRC1_ALPHA" Op2="TEXTURE"/>
								<TextureEnv Op1="OPERAND0_ALPHA" Op2="SRC_ALPHA"/>
								<TextureEnv Op1="OPERAND1_ALPHA" Op2="SRC_ALPHA"/>
								
							</TextureBinding>
					  </TextureCombiners>
                      
                      <Blend Enabled="1" FuncA="SRC_ALPHA" FuncB="ONE_MINUS_SRC_ALPHA"/>
                      
					  <ColorMask r="1" g="1" b="1" a="1"/>
                    </Material>
                </MetaballGrid>
                  <HangmanStateDisplay Tag="HangmanStateDisplay" RefsAreImmediate="1" GameLogicTag="GameLogic">
                    <State StateID="0" Tag="HangStateStart">
						<BlockedDropletArea>
							<Min x="100" y="182" z="0"/>
							<Max x="188" y="352" z="0"/>
						</BlockedDropletArea>
					</State>
					 <State StateID="1" Tag="HangState0">
						<BlockedDropletArea>
							<Min x="100" y="182" z="0"/>
							<Max x="188" y="352" z="0"/>
						</BlockedDropletArea>
					</State>
					<State StateID="1" Tag="HangState0">
						<BlockedDropletArea>
							<Min x="100" y="182" z="0"/>
							<Max x="188" y="352" z="0"/>
						</BlockedDropletArea>
					</State>
					
                    <State StateID="2" Tag="HangState1">
						<BlockedDropletArea>
							<Min x="65" y="182" z="0"/>
							<Max x="208" y="352" z="0"/>
						</BlockedDropletArea>
					</State>
					<State StateID="2" Tag="HangState1">
						<BlockedDropletArea>
							<Min x="65" y="182" z="0"/>
							<Max x="208" y="352" z="0"/>
						</BlockedDropletArea>
					</State>
					
                    <State StateID="3" Tag="HangState2">
						<BlockedDropletArea>
							<Min x="136" y="184" z="0"/>
							<Max x="192" y="339" z="0"/>
						</BlockedDropletArea>
						<BlockedDropletArea>
							<Min x="261" y="218" z="0"/>
							<Max x="320" y="344" z="0"/>
						</BlockedDropletArea>
					</State>
					<State StateID="3" Tag="HangState2">
						<BlockedDropletArea>
							<Min x="136" y="184" z="0"/>
							<Max x="192" y="339" z="0"/>
						</BlockedDropletArea>
						<BlockedDropletArea>
							<Min x="261" y="218" z="0"/>
							<Max x="320" y="344" z="0"/>
						</BlockedDropletArea>
					</State>
					
                    <State StateID="4" Tag="HangState3">
						<BlockedDropletArea>
							<Min x="219" y="240" z="0"/>
							<Max x="320" y="357" z="0"/>
						</BlockedDropletArea>
						<BlockedDropletArea>
							<Min x="110" y="305" z="0"/>
							<Max x="165" y="414" z="0"/>
						</BlockedDropletArea>
					</State>
					<State StateID="4" Tag="HangState3">
						<BlockedDropletArea>
							<Min x="219" y="240" z="0"/>
							<Max x="320" y="357" z="0"/>
						</BlockedDropletArea>
						<BlockedDropletArea>
							<Min x="110" y="305" z="0"/>
							<Max x="165" y="414" z="0"/>
						</BlockedDropletArea>
					</State>
					
                    <State StateID="5" Tag="HangState4">
						<BlockedDropletArea>
							<Min x="110" y="303" z="0"/>
							<Max x="220" y="414" z="0"/>
						</BlockedDropletArea>
					</State>
					
					<State StateID="6" Tag="HangState5">
						<BlockedDropletArea>
							<Min x="0" y="0" z="0"/>
							<Max x="320" y="480" z="0"/>
						</BlockedDropletArea>
					</State>
					<State StateID="6" Tag="HangState5">
						<BlockedDropletArea>
							<Min x="0" y="0" z="0"/>
							<Max x="320" y="480" z="0"/>
						</BlockedDropletArea>
					</State>
                  </HangmanStateDisplay>
					
				  <DropManager IsTransparent="1" Tag="DropManager" Hidden="1" RefsAreImmediate="1" TargetMetaballGrid="DropletDisplay" GameLogicTag="GameLogic"/>
				  
					<GameLogic Tag="GameLogic" Active="1" WordList="wordlist.txt" Separator="\n">
					  <LoseCondition MaxWrongGuesses="8"/>
					  <MetaballGrid Tag="DropletDisplay"/>
					  <LetterChooser Tag="LetterChooser"/>
					  <WordProgressDisplay Tag="WordProgressDisplay"/>
					  <HangmanStateDisplay Tag="HangmanStateDisplay"/>
					  <ScratchDisplay Tag="ScratchDisplay"/>
					  <DropManager Tag="DropManager"/>
					  <StartGameSequence Tag="StartGame"/>
					  <StartLevelSequence Tag="StartLevel"/>
					  <StartLevelAfterLossSequence Tag="StartLevelAfterLoss"/>
					  <BadLetterSequence Tag="WrongSelection"/>
					  <GoodLetterSequence Tag="CorrectSelection"/>
					  <GoodWordSequence Tag="CorrectWord"/>
					  <LoseSequence Tag="Lost"/>
					</GameLogic>-->
					
			</GameObjects>
		</Scene>
	</Scenes>

</Game>